:root{
    --color:antiquewhite;
    --accent:black;
}
*{
    color: var(--accent);
}

#quotetop,#quotebottom{
    text-align: center;
}

body{
    background-color: var(--color);
}

#texteditor{
    border-style: dotted;
    width: 95vw;
    height: 50vh;
    resize: none;
}

#date{
    text-align: center;
}

.handwriting{
    font-family: 'Waiting for the Sunrise', cursive; 
  font-size:13px; 
  letter-spacing: 1px; 

}