:root{
    --color:antiquewhite;
    --accent:black;
}
*{
    color: var(--accent);
}

#quotetop,#quotebottom{
    text-align: center;
}

body{
    background-color: var(--color);
}

#texteditor{
    border-style: dotted;
}